.button {
    -fx-background-color: #ffc39c;
    -fx-backgroup-radius: 60 60 60 60;
    -fx-background-radius: 15px;
    -fx-text-fill: #000000;
}

    .button:hover {
        -fx-background-color: #ffa66b;
        -fx-backgroup-radius: 30 30 30 30;
    }

.list-cell {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}

    .list-view .list-cell:selected {
        -fx-background-color: transparent;
    }

        .list-view .list-cell:selected .label {
            -fx-text-fill: black;
        }
.list-view .virtual-flow .scroll-bar:vertical  {
    -fx-background-color: #F5F5F5;
}

.list-view .virtual-flow .scroll-bar:vertical .increment-button,
.list-view .virtual-flow .scroll-bar:vertical .decrement-button,
.list-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #ffc39c;
    -fx-background-radius: 10px;
}